.home-bg {
  background-image: url("../../public/assets/pages/home/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.notif-container {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}

.notif-container,
.profile-wrapper {
  box-shadow: 0px 4px 4px rgba(85, 85, 85, 0.25);
  background-color: var(--white);
  h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #6a6363;
  }
}

.bills-dash,
.kyc-tab-wrapper {
  background: rgba(248, 243, 243, 0.79);
  border-radius: 30px;

  .header {
    h2 {
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 49px;
      color: #727876;
    }

    .sub-title {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #727876;
    }
  }
}

.bills-dash {
  .single-bill {
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(108, 103, 103, 0.25);

    .client-label {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
    }

    .periiod {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #000000;
    }

    .amount {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
    }

    .issuer {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #817272;
    }

    .datetime {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #817272;
    }
  }
}

.container-modal {
  background: rgba(237, 234, 234, 0.75);
}

.modal-invoice {
  .modal-wrapper {
    max-width: 65rem;
    margin: auto;

    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 49px;
      color: var(--black);
    }

    .form-new-invoice {
      background-color: var(--white);

      .cancel-btn {
        color: red;
        font-size: 24px;
        line-height: 29px;
      }

      .actions {
        width: 30%;
      }
    }
  }
}

.status-wrapper {
  h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #999999;
  }
}

.status.pending,
.status.paid,
.status.refused {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.status.paid {
  background-color: #67fd41;
}

.status.pending {
  background-color: #fda741;
}

.status.refused {
  background-color: #fd4d41;
}
