@import "../global/variables";
@import "../global/button";
@import "../global/input";

.login-page-wrapper {
  .login-intro {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    font-family: "Inter";
    color: #999999;
    margin-top: 19px;
  }

  .form {
    margin-top: 26px;
    .intro-form {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: var(--black);
    }

    .link-bottom {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #848181;
    }
  }

  h1 {
    color: var(--primary-color);
  }

  .illustrations {
    width: 30%;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .login-illustration-bg {
    height: 330px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-image: url("../../public/assets/pages/login/bgg.png");
  }

  .login-illustration-xs {
    height: 90px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 20px;
    background-image: url("../../public/assets/pages/login/bg-sm.svg");
  }

  .circle-bg-xs {
    bottom: 60px;
    right: -30px;
    width: 89px;
    height: 87px;
    background: rgba(83, 202, 209, 0.5);
    border-radius: 300px;
  }
}
