@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLES */
// Titles
h1,
h2,
h3,
h4 {
  font-family: "Montserrat";
}

p {
  margin: 0;
}

.section-wrapper {
  max-width: 80rem;
  margin: 0 auto;
  width: 90%;
}
